extends layout

block content
    div.row-fluid
        div.span5
            h1= title
        div.span2.h1-height
            if urlAdd != ""
                p Click the icons on the image to see the individual comments
        div.span5
            if comments.length != 0
                div.row
                    div.span6.h1-height
                        a(href='javascript:displayAllPopovers()').btn Show All Comment Contents
                    div.span6.h1-height
                        a(href='javascript:hideAllPopovers()').btn Hide All Comment Contents
    div.row-fluid
        div.span2
            if stage != 0 && stage > 2
                a(href='/stage/'+(stage-2)+urlAdd)
                    img(border=0, src="/images/left_arrow_small.png", alt="back")
            else if stage == 0
                a(href='/stage/'+prevStage+urlAdd)
                    img(border=0, src="/images/left_arrow_small.png", alt="back")
        div.span2
            center
                span.voteBox 
                    span Votes:&nbsp;
                    span.votes #{votes}
                span
                    | &nbsp;&nbsp;&nbsp;
                a(href="#", id="voteBtn").btn Vote
        div(style="text-align:right;").span2
            if stage != 0
                a(href='/stage/'+stage+urlAdd)
                    img(src="/images/right_arrow_small.png", alt="next").img-border
            else
                a(href='/done/')
                    img(src="/images/right_arrow_small.png", alt="next").img-border
        div.span6
            center
                if comments.length != 0
                    a(href='#', id="showGridBtn").btn View Comment Grid

    div(style="vertical-align:top;")
        div.image-wrap
            img(src=imgUrl, alt="", id="mainImage")
        
        div.arrow-wrap.hide
            if stage != 0
                a(href='/stage/'+stage+urlAdd)
                    img(src='/images/right_arrow.png', alt='Next').img-border
            else
                a(href='/done/')
                    img(src='/images/right_arrow.png', alt='Next').img-border

    div(id="topCover").cover
    div(id="rightCover").cover
    div(id="bottomCover").cover
    div(id="leftCover").cover

    div(id="commentInput", tabindex=-1, role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade
        div.modal-header
            button(type="button", data-dismiss="modal", aria-hidden="true").close
                | X
            h3(id="myModalLabel") Comment Submission
        div.modal-body
            form(method="post", action="/addComment", id="commentForm", accept-charset="UTF-8").form-horizontal
                input(type="hidden", name="xTxt", id="xTxt")
                input(type="hidden", name="yTxt", id="yTxt")
                input(type="hidden", name="widthTxt", id="widthTxt")
                input(type="hidden", name="heightTxt", id="heightTxt")
                input(type="hidden", name="imageId", id="imageId", value=imgId)
                div.control-group.hide
                    label(for="titleTxt").control-label Title:
                    div.controls
                        input(type='text', id='titleTxt', name='titleTxt', placeholder='Title', value='Comments')
                div.control-group
                    label(for="nameTxt").control-label Name:
                    div.controls
                        input(type='text', id='nameTxt', name='nameTxt', placeholder='Name')
                div.control-group
                    label.control-label Comment:
                    div.controls
                        textarea(rows=5, id="commentTxt", name="commentTxt", placeholder="Comments about this item")
                div.control-group
                    label(for="linkTxt").control-label Link (optional):
                    div.controls
                        input(type='text', id='linkTxt', name='linkTxt', placeholder='URL')
        div.modal-footer
            button(data-dismiss="modal", aria-hidden="true").btn close
            button(id="commentSubmitBtn").btn.btn-primary Submit Item

    div(id="commentGrid", tabindex=-1, role="dialog", aria-labelledby="modalGrid", aria-hidden="true").modal.hide.fade
        div.modal-header
            button(type="button", data-dismiss="modal", aria-hidden="true").close
                | X
            h3(id="myModalLabel") All Comments
        div.modal-body
            table.table.table-striped
                thead
                    tr
                        th Title
                        th Comment
                        th Author
                        th Link
                tbody
                    each comment in comments
                        tr
                            td #{comment.title}
                            td #{comment.text}
                            td #{comment.username}
                            td
                                if comment.link != ''
                                    a(href=comment.link, target="_blank") Link
                                else
                                    span None
        div.modal-footer
            button(id="commentSubmitBtn", data-dismiss="modal").btn.btn-primary Close
  
    each comment in comments
        i(id=comment._id, x=comment.x, y=comment.y, h=comment.height, w=comment.width).map-icon.z-icon
        div(id="content-"+comment._id, title=comment.title, user=comment.username).comment-content
            | #{comment.text}
            br
            if comment.link
                a(href=comment.link, target="_blank") Link

    script(type="text/javascript")
        var enableComments = #{enableComments};